<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="images/small-leaf.svg">
      <p> ADD PLANTS </p>
      <img id='right-leaf' src="images/small-leaf.svg">
    </div>


    <div class="back-button">
      <a id='back-button' href='javascript:window.history.back()'>
      <img src='images/back-button.svg'>
    </a>
    </div>


    <div class='edit-button'>
      <a id='edit-button'>
        <img src="images/edit-button.svg">
    </a></div>
      

   <div class='stripes'>
    <img id='stripes' src="/images/orchid-info.svg">
      <h2>Bloomy</h2>
      <p>
      Species: Phalenopis Orchid<br>
      Age: 3 days old<br>
      Watering: Once a day
    </p>
   <a class="stripes-rectangle-button" href="/bloomy">
      <img id='stripes-rectangle-button' src="/images/stripes-rectangle-button.svg">
    </a>
    
  </div>



<div class='froggy'>
    <img id='froggy' src="/images/add.svg">
      <h2>ADD ANOTHER PLANT</h2>
   <a class="froggy-rectangle-button" href="/search">
      <img id='froggy-rectangle-button' src="/images/froggy-rectangle-button.svg">
    </a>
    
  </div>

<a class= "bottom" href="/myPlantsPage">
  <img id= 'add-button' src="/images/add-to-my-plants-button.svg">
</a>



<div class='navigation'>

  <img id='bottom-rectangle' src="images/bottom-rectangle.svg">

  <a id='home-button' href='/index'>
      <img src="images/home-button.svg">
  </a>

  <a href="calendar">
    <img id='calendar-button' src="images/calendar-button.svg">
  </a>

</div>


  </div>



<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>