<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="page-container">

    <div class="header">
      <img id='left-leaf' src="/images/small-leaf.svg">
      <p> MY PLANTS </p>
      <img id='right-leaf' src="/images/small-leaf.svg">
    </div>
    
    <div class="back-button">
      <a id='back-button' href='javascript:window.history.back()'>
        <img src='/images/back-button.svg'>
      </a>
    </div>
      
    <div class='plantInfo'>
      <div class="top">
      <img id='journalPhoto' src="/images/{{img}}">
        <h2>{{species}}</h2>
      </div>
      
      <div class="bottom">
        <h3>Information:</h3>
        <p>{{info}}</p>
      </div>
    </div>


    <div class='navbar'>
      <a id='home-button' href='/index'>
        <img src="/images/home-button.svg">
      </a>

      <a href="/calendar">
        <img id='calendar-button' src="/images/calendar-button.svg">
      </a>
    </div>

  </div>

<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>