<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="images/small-leaf.svg">
      <p> MY PLANTS </p>
      <img id='right-leaf' src="images/small-leaf.svg">
    </div>
    </div>
    
    <div class="back-button">
      <a id='back-button' href='javascript:window.history.back()'>
      <img src='images/back-button.svg'>
    </a>
    </div>


    
      
  <div class='journal'>
    
    <div class="top">
    <img id='journalPhoto' src="images/basil-info.svg">
      <h2>Basil</h2>
      <p id='top'>  
      </p></div>
    
     <div class="bottom">
      <p id='info-title'>Information:</p>
      <p id='info-text'>Indirect sunlight.
       Water so that soil is moist but dries inbetween watering. Recomended watering once a day. Good for beginners</p>

  </div>


<div class='navigation'>

  <img id='bottom-rectangle' src="images/bottom-rectangle.svg">

  <a id='home-button' href='/index'>
      <img src="images/home-button.svg">
  </a>

  <a href="/calendar">
    <img id='calendar-button' src="images/calendar-button.svg">
  </a>

</div>


  </div>

<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>