<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script src='/js/bootstrap.js'></script>
  <link rel="stylesheet" type="text/css" href="/css/editPlantPage.css">
</head>
<body>


  <div class="page-container">

    <div class="header">
        <a id='back-button' href='/search'>
          <img src='/images/back-button.svg'>
        </a>
        
        <h1>Search</h1>

    </div>
    
    
    <div class="back-button">
      <a id='back-button' href='/search'>
        <img src='/images/back-button.svg'>
      </a>
    </div> 

<div id="body">
    
    <div class="image" title="click to change">
      <img id="flower" src="/images/{{species}}.svg">
    </div>

    <div class="input">
      <form id="addEntryForm" role="form" method="get" action="/editPlantPage/{{species}}/add">
        
        <div class="form-group" id='nickname'>
          <label class="bold" for="name">Nickname:</label>
          <input type="text" class="form-control" id="name" name="name" required>
          <p class="ital" id='species'>Species: {{species}}</p>
        </div>
        
        
        <div id='start-date' class="form-group">
          <label class="bold" for="date">Start Date:</label>
          <input type="date" class="form-control" id="date" name="date" max="2021-04-01" required>
        </div>

        
        
        <div id="setTime" class="form-group">
          <h4 id="one">Watering Reminder (optional)</h4>
          <label class="ital" for="remindTime">Time of Day:</label>
          <input type="time" class="form-control" id="remindTime" name="remindTime">
        </div>

        
        
        <div class="form-group">
          <p class="ital">How often:</p>
          <div id="periodButtons">
            <input type="radio" class="remindPer" id="every day" name="remindPer" value="every day">
            <label for="Every day">Every day</label>
            <br/>

            <input type="radio" class="remindPer" id="every other day" name="remindPer" value="every other day">
            <label for="Every other day">Every other day</label>
            <br/>

            <input type="radio" class="remindPer" id="every week" name="remindPer" value="every week">
            <label for="Every week">Every week</label>
          </div>

        </div>

          <input type="submit" id="submitBtn" class="btn btn-default" value="Add plant" ></input>

      </form>
    </div>

    
    <button class="filler" id='viewPlants' onclick="window.location.href='/plant/{{nickname}}'">View Added Plant</button>

  </div>
    

      <div class="footer">
        <div class="footer-item">
          <a id='home-button' href='/index'>
              <img src="/images/home-button.svg">
          </a>
        </div>

        <div class="footer-item">
          <a href="/calendar">
          <img id='calendar-button' src="/images/calendar-button.svg">
          </a>
        </div>
      </div>


  </div>

<script src="/js/newPlant.js"></script>
<script type="app.js"></script>
</body>
</html>