<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<div class="page-container">

		<div class="plant-parenthood" href='/index'>
			<img src="images/plant-parenthood.svg">
		</div>

			<div class="leaf" href='/index'>
				<img src="images/leaf.svg">
			</div>

			<div class='home-photo' href='/index'>
				<img src="images/home-photo.svg">
		</div>

		<a class='my-plants-button' href='/myPlantsPage'>
			<img src="images/my-plants-button.svg">	
		</a>
		<br>
		<a class='add-plants-button' href='/search'>
			<img src='images/add-plants-button.svg'>
		</a>

		<br>
		<a class="view-calendar-button" href='/calendar'>
			<img src='images/view-calendar-button.svg'>
		</a>

	</div>



<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>