<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<link rel="stylesheet" href="/css/indexStyle.css">

</head>
<body>

	<div class="page-container">

		<div class="plant-parenthood" href='/index'>
			<img id="logo" src="images/plant-parenthood.svg">
			<br/>
			<img src="images/leaf.svg">
		</div>

			<div class='home-photo' href='/index'>
				<img src="images/home-photo.svg">
			</div>

		<div id="buttons">
			<div class="button">
				<a class='my-plants-button' href='/myPlantsPage'>
					My Plants
				</a>
			</div>

			<div class="button">
				<a class='add-plants-button' href='/search'>
					Add Plants
				</a>
			</div>

			<div class="button">
				<a class="view-calendar-button" href='/calendar'>
					View Journal
				</a>
			</div>
		</div>

	</div>



<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>