* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 100%;
	height: 100vh;
	/*overflow: none;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.header {
	display: flex;
	align-items: center;

	width: 100%;
	height: 10vh;
	padding: 15px;
	font-size: 15px;
	position: fixed;
	top: 0;
	background-color: green;
}

.header h1 {
	margin-left: 20px;
}

.header img {
	display: block;
	margin: auto;
	width: 40px;
	height: 40px;
}

.subheader {
	width: 100%;
	margin-top: 10vh;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*not working*/
}


h3 {
	width: 90%;
	margin: 10px;
	margin-top: 15px;
	font-size: 18px;
}


#photos {
	width: 90%;
	height: 15%;
	margin: auto;
	display: flex;
	background-color: LightGray;
	overflow: auto;
	white-space: nowrap;
	outline: 2px solid black;
}

#photos .slide {
	display: inline-block;
}

#photos div {
	background-color: transparent;
	margin: 10px;
	text-align: center;
}


.input {
	background-color: LightGray;
	width: 92%;
	height: 45%;
	border-radius: 0px 15px 5px 15px;
	margin: 0px auto 13vh auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-group {
}

#secForm {
	width: 100%;
	height: 40%;
}
#description {
	width: 100%;
	height: 80%;
	padding: 8px;
}

input#subPhoto {
    border: 2px solid #4CAF50;
    width: 31%;
}

input#submitBtn {
    border: 2px solid #4CAF50;
}

.footer {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	border-top: 2px solid black;
	background-color: white;
}

.hide {
	display: none;
}

div#photoHeader {
    margin-left: 3%;
}
