* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	width: 100%;
	height: 10vh;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	position: fixed;
	top: 0;
	background-color: green;
}

.header img {
	margin-left: 40px;
	margin-right: 40px;
}

#body {
	height: 80vh;
}

.top {
	margin-top: 8vh;
	margin-bottom: 10px;
	width: 100%
	height: 200px;
}

.top img{
	height: 20vh;
	border-radius: 10px;
	border: 5px solid black;
	background-color: black;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.bottom {
	margin: auto;
	width: 90%;
	height: 45vh;
	padding: 10px;
	background-color: LightGray;
	border-radius: 25px;
	margin-bottom: 13vh;
}

h2 {
	font-size: 22px;
	text-align: center;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

#tags{
	margin: 15px 0;
}

#infoText {
	margin: 15px;
}

.footer {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	border-top: 2px solid black;
	background-color: white;
}

.hide {
	display: none;
}